<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>

<div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students$ | async">

                         <mat-expansion-panel-header>
                          <mat-panel-title>
                                student
                          </mat-panel-title>
                          <mat-panel-description>  
                            <p> math : {{student.average_grade}} </p>
                            <p> Psycho : {{student.Psycho_grade}} </p>
                            <p> paid : {{student.Paid}} </p>          
                            <button mat-raised-button
                              color = "primary"
                              (click) = "deleteStudent(student.id)">
                                Delete
                            </button>

                            
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                       
                      </mat-expansion-panel>
                      
                    </mat-accordion>
                  </div>
                    
                   
