<mat-card>
    <h1>Student Form</h1>
    <form #studentsform="ngForm">
      <div class="example-container">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Average grade</mat-label>
              <input matInput 
                [(ngModel)] = "average_grade" 
                name = "average_grade" 
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psycho grade</mat-label>
              <input matInput 
                [(ngModel)] = "Psycho_grade" 
                name = "Psycho_grade" 
                required>
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="fill">
            <mat-label>Paid</mat-label>
            <mat-select place-holder = "paid" [(ngModel)] = "paid" name = "paid" required>
                <mat-option *ngFor="let paid of paids" [value]="paid.value">
                {{paid.value}}
                </mat-option>
            </mat-select>
            </mat-form-field>
          </p>

          <span *ngIf="result">
            <span *ngIf="willbailOut">Will Bail Out</span>
            <span *ngIf="!willbailOut">Will Not Bail Out</span>
          </span>

          <div>
            <button mat-raised-button color="primary" (click)="predict()" >
                     Predict
            </button>  
            <button mat-raised-button color="primary" *ngIf="result" (click)="save(student)" >
                     Save
            </button>  
            <button mat-raised-button color="primary" *ngIf="result" (click)="cancel()" >
                     Cancel
            </button>  
            </div>

                                     
 
      </div>
    </form>
   </mat-card>